.menu-item {
    a {
        svg {
            transition: 0.3s !important;
        }
    }
    .active {
        color: white;

        svg {
            path {
                fill: white;
            }
        }
    }

    &:hover {
        svg {
            path {
                fill: white;
            }
        }
    }
}

aside {
    * {
        transition: 0.2s !important;
    }
}